.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
.col {
  display: block;
  float:right;
  margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; }

@media only screen and (max-width: 480px) {
  .col { 
    margin: 1% 0 1% 0%;
  }
}

.span_2_of_2 {
  width: 100%;
}

.span_1_of_2 {
  width: 48%;
}

@media only screen and (max-width: 480px) {
 .span_2_of_2 {
   width: 100%; 
 }
 .span_1_of_2 {
   width: 100%; 
 }
}
